body{
    font-family: Arial;
    background: linear-gradient(120deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.chat-container{
    width:400px;
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0px 10px 30px rgba(0,0,0,0.2);
}

#chat-box{
    height:350px;
    overflow-y:auto;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
}

.message{
    margin:8px 0;
}

.user{
    text-align:right;
    color:blue;
}

.bot{
    text-align:left;
    color:green;
}

.input-area{
    display:flex;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px;
    background:#667eea;
    color:white;
    border:none;
}